div
  = image_tag('banner-biographies.jpg', :alt => 'Banner', class: 'img-responsive')

div class="container"

  p id="notice"= notice

  a itemprop="url" href="http://#{request.host + url_for(:page => params[:page]) }"
    div itemprop="name"
      h2= 'Blog'

  - breadcrumb :biographies, @biographies
  == breadcrumbs separator: ' <i class="fa fa-chevron-right" aria-hidden="true"></i> ', :semantic => true, :link_current => true

  div class="nav"
    = form_tag(biographies_path, method: 'get', class: 'pull-right form ui', role: 'search', id: 'nav-search') do
      div class="ui icon input"
        = text_field_tag :search, params[:search], placeholder: 'busco por...'
        i class="search icon"

  div class="clearfix"
    div class="ui divided items"
      - @biographies.each do |biography|
        div class="item"
          div class="image"
            = image_tag(biography.image ? biography.image_url(:thumb) : 'empty-image.png', class: 'img-responsive', alt: biography.title)

          div class="content"
            = link_to biography.title, biography, class: 'header'

            /<div class="meta">
            /<span class="cinema"><%#= biography.author %></span>
            /</div>
            div class="description"
              p= truncate(strip_tags(biography.description), :length => 400, :separator => ' ', escape: false)

            div class="extra"
              = link_to biography, class: 'btn flat-button remove-border blue-button white-font-color' do
                = 'ver mais'
                i class="right chevron icon"
              /<div class="ui label">Limited</div>
              /<div class="ui label"><i class="globe icon"></i> Additional Languages</div>

  div class="pagination"= paginate @biographies