div class="container"

  p id="notice" = notice

  - breadcrumb :metaphor, @metaphor
  == breadcrumbs pretext: 'Você está aqui: ', separator: ' &rsaquo; ', :semantic => true, :link_current => true

  div itemscope="" itemtype="http://schema.org/BlogPosting"

    div class="col-md-4" itemprop='image' itemscope='' itemtype="https://schema.org/ImageObject"
      img itemprop="contentUrl" class='img-responsive img-thumbnail' alt='#{@metaphor.title}' title='#{@metaphor.title}' src='#{@metaphor.image}'/

    div class="col-md-8"

      a itemprop="url" href="http://#{request.host + url_for(:page => params[:page])}"
        div itemprop="name"
          h1= @metaphor.title

      small
        meta itemprop="datePublished" content='#{@metaphor.created_at.strftime("%FT")}'
        = "Data de publicação: #{@metaphor.created_at.strftime("%d/%m/%Y")}"

      div itemprop="description"= simple_format @metaphor.description