<div class="container">

  <div class="col-md-6">
    <h2>Entrar</h2>
    <%= render 'form' %>
  </div>

  <div class="col-md-6">
    <h2>Cadastre-se</h2>
    <%= render 'users/registrations/form' %>
  </div>

</div>