<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>De: <%= @email.email %></p>
    <p>Mensagem: <%= @email.message %></p>
  </body>
</html>
