<div class="container">
  <h2>Mastering PNL</h2>

  <% breadcrumb :sobre_nos %>
  <%= breadcrumbs pretext: 'Você está aqui: ', separator: ' &rsaquo; ', semantic: true %>

  <p>A Mastering PNL é um grupo composto por pessoas com o firme propósito de ser o melhor em desenvolver, adaptar e difundir as ferramentas da PNL aliado com a psicologia, na intenção de levar a todas as pessoas independente de sua classe social, gênero e cultura a qualidade e bem estar
    psicológico,
    físico e social em seu dia a dia. </p>
  <p>Mantendo sempre nossos valores como base. Focando na busca de resultados satisfatórios e mudanças duradouras.</p>
</div>