div
  = image_tag('banner-contact.jpg', :alt => 'Banner', class: 'img-responsive', style: 'width:100%')

div class="container"

  h1= 'Contato'

  - breadcrumb :contato
  == breadcrumbs pretext: 'Você está aqui: ', separator: ' &rsaquo; ', :semantic => true, :link_current => true

  p= 'Se você tiver perguntas de negócios ou outras questões, por favor preencha o seguinte formulário para entrar em contato conosco. Obrigado.'

  div class="row"
    div class="col-lg-5"
      = form_for(@contact, url: enviar_path, :html => {:class => 'ui form', :id => ''}, :method => 'post') do |f|

        div class="field"
          = f.label :name
          = f.text_field :name, placeholder: 'Seu nome'

        div class="field"
          = f.label :email
          = f.email_field :email, placeholder: 'Seu email'

        div class="field"
          = f.label :message
          = f.text_area :message, placeholder: 'Seu email'

        div class="form-group"
          = f.button "Enviar Contato", class: 'btn flat-button remove-border blue-button white-font-color'