<div class="site-index">

  <div class="jumbotron">
    <%= image_tag('logo.png', :alt => 'Logo', :style => 'height: 150px;') %>

    <p class="lead">Seja bem vindo!</p>

    <!--        <p><a class="btn btn-lg btn-success flat-button remove-border blue-button white-font-color" href="">Registrar-se</a></p>-->
  </div>

  <div class="body-content">

    <div class="row main-menu">
      <div class="col-lg-4">
        <div class="col-lg-12 text-center">
          <h2>Bibliografias</h2>

          <p>Confira nossa lista de sujestões.</p>

          <p>
            <a class="btn btn-default flat-button remove-border blue-button white-font-color" href="/bibliographies">veja mais &raquo;</a>
          </p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="col-lg-12 text-center">
          <h2>Ebooks</h2>

          <p>Nossos Ebooks</p>

          <p>
            <a class="btn btn-default flat-button remove-border blue-button white-font-color" href="">Ebooks &raquo;</a>
          </p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="col-lg-12 text-center">
          <h2>Ferramentas</h2>

          <p>Nossos Ebooks</p>

          <p>
            <a class="btn btn-default flat-button remove-border blue-button white-font-color" href="">Ferramentas &raquo;</a>
          </p>
        </div>
      </div>
    </div>

  </div>
</div>
